<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="adminsite.aspx"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <add key="SecurityKey" value="ACEGIKMOQSUWY" />
  </appSettings>
  <connectionStrings>
    <add name="SampleEntities" connectionString="metadata=res://*/SampleModel.csdl|res://*/SampleModel.ssdl|res://*/SampleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAKESHN7;initial catalog=SampleWebsite2;user id=sa;password=mindfire;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SampleWebsite.Web.Services.ProductServiceAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="SampleWebsite.Web.Services.ProductService">
        <endpoint address="" behaviorConfiguration="SampleWebsite.Web.Services.ProductServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SampleWebsite.Web.Services.ProductService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
